
body{margin:0 auto;max-width:80em;word-spacing:.01em;font-family:'Arial', serif;}
html{padding:0 .5em 2em 1em;}
h1{font-size:225%;font-weight:700;padding:50;letter-spacing:0.12em;margin:1em 0 0 0}
h2{font-size:170%;font-weight:700;}
h3{font-size:115%;font-weight:700;}
h4{font-size:135%;font-weight:700}
p{font-size:125%;line-height:1.5em;}
pre{font-size:85%;line-height:1.3em;font-family:"droid sans mono";line-height:2em;max-width:33em}
.mono{max-width:10em}
a:link{color:#831;text-decoration:none}
a:visited {color:#831;text-decoration:none}
img{display:block;margin:auto}
img{width:100%;height:auto}
figure {margin:0;}
figcaption{margin: 1em 0;font-size:80%}
blockquote{font-size:95%;line-height:1.4em}
aside{font-size:90%;font-style:italic;margin-left:2em}
body{background-color:#F8ECCD }
ol{font-size:100%;line-height:1.5em;padding:0 0 0 1.75em}
ul{font-size:100%;line-height:1.5em}
.mono{max-width:10em}
