
body {
background-color: white;
color: black;
font-family: arial, helvetica, sans-serif;
}
ol {list-style-type: lower-alpha;
padding: 5em;
}    
ul {
  list-style-type: none;
  margin: 40;
  padding: 50;
  overflow: hidden;
  background-color: grey;
}

p
{color:black;
}
li {
  float: left
;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  }
