
body {
background-color: #f7e7d8 ;
color: black;
font-family: arial, helvetica, sans-serif;
font-size:100%;line-height:1.5em;
text-align: center;
padding:1vw;

}
h1{font-size:225%;font-weight:700;padding:50px;letter-spacing:0.12em;margin:1em 0 0 0;}
h2{font-size:170%;font-weight:700;}
h3{font-size:95%;font-weight:200;}
h4{font-size:135%;font-weight:700}
p{font-size:125%;line-height:1.5em;}
ol {list-style-type: lower-alpha;
padding: 5em;
}    
ul {
  list-style-type: none;
 text-align:center;
  overflow: hidden;
  background-color: #4c3144 ;}


ul li {  float: left;}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;}

ul li a:hover {
  background-color: #111;
  }

ol {
  list-style-type: none;
 text-align:center;
  overflow: hidden;
  background-color: #4c3144 ;}


ol li {  float: left;}

ol li a {
  display: block;
  color: white;
  text-align: left;
  padding: 5px 10px;
  text-decoration: none;}

ol li a:hover {
  background-color: #111;
}

/* SVG sizing */
embed {width:70%} 

div#flexContainer { 
display:flex;
flex-direction:row;
flex-wrap:wrap;
}

